
Svatov_Alexey_dz_2/дополнительный_материал/

Svatov_Alexey_dz_2/решения/

Svatov_Alexey_dz_1/дополнительный_материал/

Svatov_Alexey_dz_1/решения/

Svatov_Alexey_dz_1/стиль_кода/

Svatov_Alexey_dz_1/домашнее_задание/

Svatov_Alexey_dz_2/.idea/

Svatov_Alexey_dz_3/дополнительный_материал/

Svatov_Alexey_dz_3/решения/
