
Svatov_Alexey_dz_7/

Svatov_Alexey_dz_6/

Svatov_Alexey_dz_5/

Svatov_Alexey_dz_8/полезные_ссылки (изучать не обязательно).txt

Svatov_Alexey_dz_8/решения/

Svatov_Alexey_dz_8/прохождение_интервью/

Svatov_Alexey_dz_8/дополнительный_материал/
